.leftContainer {
    width: 200px;
    padding: 20px;
    border-right: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.2);
}
.leftContainer div{
    height:30px;
}